* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;            
  }
}
