* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;            
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}